In [26]:
# Every returned Out[] is displayed, not just the last one. 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [16]:
import nltk  
import pandas as pd
import numpy as np

This is the comment dataframe. It holds two years worth of comments from NLSS episodes.

In [31]:
comment_df = pd.read_pickle('Pipeline/full_df.pkl')
comment_df.head() 
comment_df.tail()
print(len(comment_df), 'comments')

,Date,User,Comment
0,2017-08-24,Moobot,"Thank you for subbing, IHaveNoPokeClue! :D :D"
1,2017-08-24,emperorvespasian,VERY LARGE CONE
2,2017-08-24,KhanWight,Kreygasm CLIMAX Kreygasm CLIMAX Kreygasm
3,2017-08-24,Aheron211,VLC
4,2017-08-24,Nightbot,Necropara -> Squeal piggy! Squeal [stop spammi...

               Date          User                                   Comment
4923013  2016-02-29  BlastrMaster                            milwaukee HYPE
4923014  2016-02-29     zapranoth  Dan is hosting the nlss while NL is gone
4923015  2016-02-29   Supermaxman   Sure NL we all know you want the cheese
4923016  2016-02-29   Bajur_sauce                         have fun in Idaho
4923017  2016-02-29  anonymous_ax             just got here. what'd I miss?

4923018 comments

In [32]:
video_df = pd.read_pickle('Pipeline/combined.pkl')
video_df.head()
video_df.tail()
print(len(video_df), 'videos')

,Date,Crew,Docket,RowNum,StartTime,EndTime,ViewsGained,FollowersGained,MaxViewers,AverageViewers,FollowersPerHour,ViewsPerHour,LengthMinutes
0,"August 24, 2017","[Northernlion, RockLeeSmile, CobaltStreak, Alp...","[Passpartout, Party Panic, Pinturillo]",18,2017-08-24 21:15:00.000,2017-08-25 00:15:00.000,5400,91,5751,4715,7.00,415.38,195
1,"August 23, 2017","[Northernlion, RockLeeSmile, LastGreyWolf, HCJ...","[Absolver, Golf It, Quiplash]",19,2017-08-23 21:15:00.000,2017-08-24 00:15:00.000,5962,170,6185,5214,13.08,458.62,195
2,"August 21, 2017","[Northernlion, RockLeeSmile, JSmithOTI, Alpaca...","[Fire Pro Wrestling World, Ultimate Chicken H...",21,2017-08-21 22:15:00.000,2017-08-22 01:15:00.000,5065,95,5347,4797,7.31,389.62,195
3,"August 17, 2017","[RockLeeSmile, LastGreyWolf, HCJustin, BaerTaf...","[Geoguessr, Golf It, Quiplash]",23,2017-08-17 21:15:00.000,2017-08-18 00:15:00.000,5365,108,6075,5214,8.31,412.69,195
4,"August 16, 2017","[Northernlion, BaerTaffy, LastGreyWolf, DanGhe...","[Nidhogg 2, Speedrunners, Pinturillo]",24,2017-08-16 21:15:00.000,2017-08-17 00:30:00.000,5823,116,5250,4681,8.29,415.93,210

,Date,Crew,Docket,RowNum,StartTime,EndTime,ViewsGained,FollowersGained,MaxViewers,AverageViewers,FollowersPerHour,ViewsPerHour,LengthMinutes
194,"August 10, 2015","[Northernlion, RockLeeSmile, JSmithOTI]","[Rebirth, Nuclear Throne, OlliOlli 2: Olliwo...",429,2015-08-10 22:15:00.000,2015-08-11 01:00:00.000,6630,224,7333,6101,18.67,552.50,180
195,"July 30, 2015","[Northernlion, RockLeeSmile]","[Rebirth, Duck Game (continued), Speedrunners]",435,2015-07-30 22:15:00.000,2015-07-31 01:00:00.000,6798,146,5874,4860,12.17,566.50,180
196,"July 30, 2015","[Northernlion, RockLeeSmile]","[Rebirth, Duck Game (continued), Speedrunners]",436,2015-07-30 00:30:00.000,2015-07-30 01:00:00.000,1550,60,4227,3392,12.00,310.00,75
197,"July 29, 2015","[Northernlion, MathasGames, RockLeeSmile, Alpa...","[Rebirth & audio problems, Rocket League, Nu...",437,2015-07-29 22:15:00.000,2015-07-30 00:00:00.000,5050,169,4308,3749,15.36,459.09,165
198,"July 27, 2015","[Northernlion, RockLeeSmile, JSmithOTI]","[Rebirth, Nuclear Throne, Family Feud 2010 (...",438,2015-07-27 22:15:00.000,2015-07-28 01:00:00.000,8887,181,6658,5865,15.08,740.58,180

199 videos

The comments that I currently have available don't go as far back as my video stats do. Lets trim it to fit.

In [34]:
video_df.loc[video_df['Date'] == 'February 29, 2016']

,Date,Crew,Docket,RowNum,StartTime,EndTime,ViewsGained,FollowersGained,MaxViewers,AverageViewers,FollowersPerHour,ViewsPerHour,LengthMinutes
138,"February 29, 2016","[Northernlion, RockLeeSmile, JSmithOTI, Alpaca...","[Afterbirth, Half Dead, Golf With Friends wi...",315,2016-02-29 23:15:00.000,2016-03-01 02:00:00.000,8679,106,7660,7164,8.83,723.25,180

In [39]:
temp_vid = video_df.loc[0:138]
temp_vid.head()
temp_vid.tail()

,Date,Crew,Docket,RowNum,StartTime,EndTime,ViewsGained,FollowersGained,MaxViewers,AverageViewers,FollowersPerHour,ViewsPerHour,LengthMinutes
0,"August 24, 2017","[Northernlion, RockLeeSmile, CobaltStreak, Alp...","[Passpartout, Party Panic, Pinturillo]",18,2017-08-24 21:15:00.000,2017-08-25 00:15:00.000,5400,91,5751,4715,7.00,415.38,195
1,"August 23, 2017","[Northernlion, RockLeeSmile, LastGreyWolf, HCJ...","[Absolver, Golf It, Quiplash]",19,2017-08-23 21:15:00.000,2017-08-24 00:15:00.000,5962,170,6185,5214,13.08,458.62,195
2,"August 21, 2017","[Northernlion, RockLeeSmile, JSmithOTI, Alpaca...","[Fire Pro Wrestling World, Ultimate Chicken H...",21,2017-08-21 22:15:00.000,2017-08-22 01:15:00.000,5065,95,5347,4797,7.31,389.62,195
3,"August 17, 2017","[RockLeeSmile, LastGreyWolf, HCJustin, BaerTaf...","[Geoguessr, Golf It, Quiplash]",23,2017-08-17 21:15:00.000,2017-08-18 00:15:00.000,5365,108,6075,5214,8.31,412.69,195
4,"August 16, 2017","[Northernlion, BaerTaffy, LastGreyWolf, DanGhe...","[Nidhogg 2, Speedrunners, Pinturillo]",24,2017-08-16 21:15:00.000,2017-08-17 00:30:00.000,5823,116,5250,4681,8.29,415.93,210

,Date,Crew,Docket,RowNum,StartTime,EndTime,ViewsGained,FollowersGained,MaxViewers,AverageViewers,FollowersPerHour,ViewsPerHour,LengthMinutes
134,"March 30, 2016","[Northernlion, RockLeeSmile, AlpacaPatrol, Cob...","[Afterbirth, Shellshock Live, Pinturillo 2]",308,2016-03-30 21:15:00.000,2016-03-31 00:00:00.000,9330,135,7226,6149,11.25,777.50,180
135,"March 28, 2016","[Northernlion, AlpacaPatrol, RockLeeSmile, MALF]","[Afterbirth, Space Food Truck, Shellshock Li...",309,2016-03-28 22:15:00.000,2016-03-29 01:15:00.000,10237,130,7401,6301,10.00,787.46,195
136,"March 24, 2016","[Northernlion, RockLeeSmile, LastGreyWolf]","[Afterbirth, The Culling, Golf with Friends]",311,2016-03-24 22:15:00.000,2016-03-25 01:00:00.000,9697,107,6804,5791,8.92,808.08,180
137,"March 23, 2016","[Northernlion, RockLeeSmile, AlpacaPatrol, Cob...","[Afterbirth, Enter the Gungeon, Shellshock L...",312,2016-03-23 21:15:00.000,2016-03-24 00:15:00.000,11778,173,6779,5778,13.31,906.00,195
138,"February 29, 2016","[Northernlion, RockLeeSmile, JSmithOTI, Alpaca...","[Afterbirth, Half Dead, Golf With Friends wi...",315,2016-02-29 23:15:00.000,2016-03-01 02:00:00.000,8679,106,7660,7164,8.83,723.25,180

We need a consistent format for the dates in these two data frames. The two forms currently in use are
- Month DD, YYYY
- YYYY-MM-DD

I find the first one more readable, so let's convert the dates.

In [73]:
months = {'01':'January', '02':'February', '03':'March', '04':'April', '05':'May', '06':'June', '07':'July', '08':'August', '09':'September', '10':'October', '11':'November', '12':'December'}

oldformat = comment_df['Date']
formatted = []

for date in oldformat:
    #Split old format into units
    ymd = date.split('-')
    #Save each piece as a var
    M = ymd[1]
    D = ymd[2]
    Y = ymd[0]
    #Change month numbers to words
    M = months.get(M)
    
    entry = M+' '+D+', '+Y
    
    formatted.append(entry)

Seems to match up now

In [75]:
formatted[0]
formatted[-1]

'August 24, 2017'

'February 29, 2016'

In [78]:
comment_df['Date'] = formatted
comment_df.head()

,Date,User,Comment
0,"August 24, 2017",Moobot,"Thank you for subbing, IHaveNoPokeClue! :D :D"
1,"August 24, 2017",emperorvespasian,VERY LARGE CONE
2,"August 24, 2017",KhanWight,Kreygasm CLIMAX Kreygasm CLIMAX Kreygasm
3,"August 24, 2017",Aheron211,VLC
4,"August 24, 2017",Nightbot,Necropara -> Squeal piggy! Squeal [stop spammi...